{% extends 'base.html' %}
{% block content %}

<h1>Login</h1>

<form method="post">
    <table class="login">
        <tr>
            <td>
                <label for="username">Username</label>
            </td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
            <td>
                <span class="error" id="login_error">{{ error }}</span>
            </td>
        </tr>
    </table>
</form>



{% endblock %}
